# Ignore Unreal build files
*.pdb
*.sdf
*.suo
*.user
*.userprefs
*.opendb
*.VC.db
*.VC.opendb

# Ignore Binary and Intermediate folders
Binaries/*
Intermediate/*
Saved/*
DerivedDataCache/*
.vscode/*

# Ignore temporary files
*.log
*.tmp
*.bak
*.swp

# Ignore config files
*.ini
*.config
*.log

# Ignore git files
.git/
